@model IslamicUloom.Models.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageNumberOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNumberOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNumberDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNumberDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abwaab.BaabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abwaab.BaabName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
